    <div class="modal fade" id="session-error-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sessionErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-danger border-2">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="sessionErrorModalLabel">
                        <i class="fa-solid fa-triangle-exclamation me-2"></i>
                        Xảy ra sự cố
                    </h5>
                </div>
                <div class="modal-body fs-5">
                    <p id="modal-error-message">Nội dung lỗi sẽ được cập nhật ở đây.</p>
                </div>
                <div class="modal-footer">
                    <button id="modal-reset-button" type="button" class="btn btn-danger w-100">Khởi động lại phiên</button>
                </div>
            </div>
        </div>
    </div>